<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>La Cuisine GTI525</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="/js/main.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/cuisine.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="icon" href="favicon.ico?v=1.1">
</head>
<body>
<nav class="container grey darken-1">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">La Cuisine GTI525 - MongoDB<i class="material-icons">restaurant</i></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li id="menu_dishes"><a>Les recettes</a></li>
      <li id="menu_logout"><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<section id="content" class="container">
  <section id="dish_list" class="row"> </section>
  <section id="recipe" class="row hide">
    <h3 id="dish_name" class="header"></h3>
    <div>
      <img id="dish_photo" class="photo_recipe" src="">
    </div>
    <div class="row">
      <h4 class="subheader">Ingredients</h4>
      <ul id="ingredient_list" class="recipe_text">
      </ul>
    </div>
    <div class="row">
      <h4 class="subheader">Mode de preparation</h4>
      <ol id="directions" class="recipe_text">
      </ol>
    </div>
  </section>
</section>
</body>
</html>