<header class="container">
    <nav>
        <div class="padding-left nav-wrapper padding-right">
            <a href="#" class="brand-logo">Données géospatiales dans MongoDB</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/neighborhoods">Quartiers par zone</a></li>
                <li><a href="/sites">Sites importants</a></li>
            </ul>
        </div>
    </nav>
</header>