<section class="container center">
    <h3>Exemple d'utilisation du modèle <%= modelName %></h3>
    <p id="status" class="flow-text">Attendez le chargement du modèle...</p>

    <div class="scale-transition progress">
        <div class="indeterminate"></div>
    </div>
</section>