<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Se loguer</title>
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/materialize.js"></script>
    <link rel="icon" href="favicon.ico?v=1.1">
</head>
<body>
<div class="prompt_box">
    <h3 class="center-align">Se loguer</h3>
    <div class="row">
        <form id="user_form" action="/login" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" name="email" class="validate" required="true">
                    <label for="email">Adresse courriel</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate" required="true">
                    <label for="password">Mot de passe</label>
                </div>
            </div>
            <div class="row center-align">
                <button class="btn waves-effect waves-light" type="submit">Soumettre</button>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
    </div>
</div>
</body>
</html>