<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Exemple d'utilisation d'un générateur de texte</title>
    <%- include('../partials/head'); %>
    <script type="module" src="js/text.js"></script>
</head>
<body>
<%- include('../partials/header'); %>
<main class="container">
    <div class="row">
        <div class="col s12">
            <h3>Générateur de texte</h3>
            <p class="flow-text">Veuillez saisir une question ou une action dans le champ ci-dessous et cliquez sur bouton "Soumettre". </p>
        </div>
    </div>
    <div class="row">
        <form class="col s12" method="post" action="/api/text-generation">
            <div class="input-field col s12">
                <i class="material-icons prefix">edit</i>
                <textarea id="text" class="materialize-textarea"></textarea>
                <label for="text">Texte ou action</label>
            </div>
            <div class="col s12 ">
                <button class="submit right btn waves-effect waves-light" type="submit">Soumettre
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
    <div class="row answer_container hide">
        <div class="col s12">
            <h4>Réponse :</h4>
            <div class="flow-text generated_text"></div>
        </div>
    </div>
</main>
</body>
</html>