<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Exemples de modèles TensorFlow.js</title>
    <%- include('../partials/head'); %>
</head>
<body>
<header class="container center">
    <%- include('../partials/header'); %>
</header>
<main class="container center valign-wrapper">
    <div class="flow-text">
    <p>Cette application Express démontre l'utilisation de quelques modèles TensorFlow.js tels que
        MobileNet et Inception V3. Ces modèles sont intégrés dans l'application Express
        pour illustrer comment ils peuvent être utilisés sur le navigateur.</p>
    </div>
</main>
</body>
</html>