<nav class="nav-extended">
    <div class="nav-wrapper blue-grey darken-2">
        <a href="#" class="brand-logo right"><i class="material-icons">local_dining</i>Cuisine GTI525</a>
        <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li id="mi-dishes"><a href="/">Les recettes</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-menu">
    <li id="mi-dishes-mobile"><a href="/">Les recettes</a></li>
</ul>
