<section class="scale-out scale-transition container">
    <div class="row">
        <div class="col s12 m4">
            <img class="classify" alt="Bus" src="images/small/14239924028_a097de2bf2_w.jpg" crossorigin="anonymous"/>
        </div>
        <div class="col s12 m4">
            <img class="classify" alt="Appareil photo" src="images/small/18070610586_df56e4fecb_w.jpg" crossorigin="anonymous"/>
        </div>
        <div class="col s12 m4">
            <img class="classify" alt="Papillon" src="images/small/17582624034_f2907e1729_w.jpg" crossorigin="anonymous"/>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <img class="classify" alt="Tasse" src="images/small/18058370288_7df2fd889d_w.jpg" crossorigin="anonymous"/>
        </div>
        <div class="col s12 m4">
            <img class="classify" alt="Ordinateur" src="images/small/17869117540_d26e2e3deb_w.jpg" crossorigin="anonymous"/>
        </div>
        <div class="col s12 m4">
            <img class="classify" alt="Chien" src="images/small/5016074931_fa7b235fb4_w.jpg" crossorigin="anonymous"/>
        </div>
    </div>
</section>