<section class="scale-out scale-transition container">
    <div class="row">
        <div class="col s12 m4">
            <img class="classify" alt="Bus" src="images/small/bus.jpg" crossorigin="anonymous"/>
        </div>
        <div class="col s12 m4">
            <img class="classify" alt="Appareil photo" src="images/small/camera.jpg" crossorigin="anonymous"/>
        </div>
        <div class="col s12 m4">
            <img class="classify" alt="Papillon" src="images/small/butterfly.jpg" crossorigin="anonymous"/>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4">
            <img class="classify" alt="Tasse" src="images/small/mug.jpg" crossorigin="anonymous"/>
        </div>
        <div class="col s12 m4">
            <img class="classify" alt="Ordinateur" src="images/small/laptop.jpg" crossorigin="anonymous"/>
        </div>
        <div class="col s12 m4">
            <img class="classify" alt="Chien" src="images/small/dog.jpg" crossorigin="anonymous"/>
        </div>
    </div>
</section>