<section class="scale-out scale-transition container">
    <div class="row">
        <div class="col s12">
            <ul class="tabs tabs-fixed-width z-depth-1">
                <li class="tab"><a class="active" href="#image1">Image 1</a></li>
                <li class="tab"><a href="#image2">Image 2</a></li>
                <li class="tab"><a href="#image3">Image 3</a></li>
                <li class="tab"><a href="#image4">Image 4</a></li>
                <li class="tab"><a href="#image5">Image 5</a></li>
                <li class="tab"><a href="#image6">Image 6</a></li>
            </ul>
        </div>
        <div class="tab_group">
            <div id="image1" class="tab_content col s12">
                <img class="classify" alt="Image 1" src="images/med/guilherme-stecanella-SaVlzqe9068-unsplash.jpg"
                     crossorigin="anonymous"/>
                <canvas></canvas>
                <div class="credits">
                    Photo par <a
                            href="https://unsplash.com/@guilhermestecanella?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Guilherme
                        Stecanella</a> sur <a
                            href="https://unsplash.com/photos/photography-of-woman-walking-in-between-road-with-vehicles-SaVlzqe9068?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </div>
            </div>
            <div id="image2" class="tab_content col s12">
                <img class="classify" alt="Image 2" src="images/med/amos-bar-zeev-3yzE1SUfbwY-unsplash.jpg"
                     crossorigin="anonymous"/>
                <canvas></canvas>
                <div class="credits">
                    Photo par <a
                            href="https://unsplash.com/@amosbarzeev?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Amos
                        Bar-Zeev</a> sur <a
                            href="https://unsplash.com/photos/woman-leaning-on-green-and-white-volkswagen-beetle-near-sea-under-white-sky-during-daytime-3yzE1SUfbwY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </div>
            </div>
            <div id="image3" class="tab_content col s12">
                <img class="classify" alt="Image 3" src="images/med/priscilla-du-preez-XkKCui44iM0-unsplash.jpg"
                     crossorigin="anonymous"/>
                <canvas></canvas>
                <div class="credits">
                    Photo par <a
                            href="https://unsplash.com/@priscilladupreez?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Priscilla
                        Du Preez </a> sur <a
                            href="https://unsplash.com/photos/three-men-laughing-while-looking-in-the-laptop-inside-room-XkKCui44iM0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </div>
            </div>
            <div id="image4" class="tab_content col s12">
                <img class="classify" alt="Image 4" src="images/med/krakenimages-376KN_ISplE-unsplash.jpg"
                     crossorigin="anonymous"/>
                <canvas></canvas>
                <div class="credits">
                    Photo par <a
                            href="https://unsplash.com/@krakenimages?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">krakenimages</a>
                    sur
                    <a href="https://unsplash.com/photos/man-in-white-dress-shirt-sitting-beside-woman-in-black-long-sleeve-shirt-376KN_ISplE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </div>
            </div>
            <div id="image5" class="tab_content col s12">
                <img class="classify" alt="Image 5" src="images/med/david-tomaseti-Vw2HZQ1FGjU-unsplash.jpg"
                     crossorigin="anonymous"/>
                <canvas></canvas>
                <div class="credits">
                    Photo par <a
                            href="https://unsplash.com/@dtomaseti?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">David
                        Tomaseti</a> sur <a
                            href="https://unsplash.com/photos/zebra-standing-on-green-grass-during-daytime-Vw2HZQ1FGjU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </div>
            </div>
            <div id="image6" class="tab_content col s12">
                <img class="classify" alt="Image 6" src="images/med/overture-creations-NzecKa3OWgM-unsplash.jpg"
                     crossorigin="anonymous"/>
                <canvas></canvas>
                <div class="credits">
                    Photo par <a
                            href="https://unsplash.com/@overture_creations?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Overture
                        Creations</a> sur <a
                            href="https://unsplash.com/photos/short-coat-brown-dog-NzecKa3OWgM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
                </div>
            </div>
        </div>
    </div>
</section>