<section class="container center">
    <h3>Exemple d'utilisation du modèle <%= modelName %></h3>
    <p class="flow-text">Attendez le chargement du modèle. Une fois le modèle chargé,
        les images seront visibles et vous pourrez cliquer dessus pour que
        le modèle puisse déterminer leur contenu.</p>

    <div class="scale-transition progress">
        <div class="indeterminate"></div>
    </div>
</section>