<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Carte de la Ville de Toronto</title>
    <%- include('../partials/head'); %>
    <script type="module" src="js/app.js"></script>
</head>
<body>
<%- include('../partials/header'); %>
<main class="container">
<div class="row">
    <h4>Carte de la Ville de Toronto</h4>
    <div id="map" class="col s12"> </div>
</div>
</main>
</body>
</html>